# Default ignored files
/../../Ohjelmisto-2.-Python-2./.idea/shelf/
/../../Ohjelmisto-2.-Python-2./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Ohjelmisto-2.-Python-2./.idea/httpRequests/
# Datasource local storage ignored files
/../../Ohjelmisto-2.-Python-2./.idea/dataSources/
/../../Ohjelmisto-2.-Python-2./.idea/dataSources.local.xml
